<html>
  <head>
    <title>Activate Your Account</title>
  </head>
  <body>
    <h1>Welcome to Our App!</h1>
    <p>Please click the link below to activate your account:</p>
    <a href='{{activationUrl}}'>Activate Account</a>
    <p>If the link doesn't work, copy and paste this URL into your browser:</p>
    <p>{{activationUrl}}</p>
    <p>Thank you!</p>
  </body>
</html>